@{
    Layout = null;
}

@{
    ViewBag.Title = "CheckTime";
}

<html>
<head>
    <title>checkTime</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Login.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
    <div class="login-box">
        <img src="~/Content/Imagenes/avatar.png" class="avatar">
        <form>
            <p>NOMBRE USUARIO</p>
            <div class="inputWithIcon">
                <input type="text" name="username" placeholder="Ingrese su Usuario">
                <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <p>CONTRASEÑA</p>
            <div class="inputWithIcon">
                <input type="password" name="password" placeholder="Ingrese su Contraseña">
                <i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i>
            </div>
            <input type="submit" name="submit" value="INGRESAR">
            <div style="text-align:right;"><a href="#">Olvidó su Contraseña?</a></div>
            <div class="connect">
                <p>Siguenos en:</p>
                <a class="facebook" href="#"></a>
                <a class="twitter" href="#"></a>
            </div>
        </form>
    </div>
    <div class="login-box2">
        <a title="Los Tejos" href="www.google.com"><img src="~/Content/Imagenes/Empresa.png" alt="Los Tejos" class="imagenesLink" /></a>
        <hr style="background-color: black;height: 1px;margin-left: 65%;width: 50%;border: 0;">
        <a title="Los Tejos" href="www.google.com"><img src="~/Content/Imagenes/Facebook2.png" alt="Los Tejos" class="imagenesLink" /></a>
        <hr style="background-color: black;height: 1px;margin-left: 65%;width: 50%;border: 0;">
        <a title="Los Tejos" href="www.google.com"><img src="~/Content/Imagenes/Twitter2.png" alt="Los Tejos" class="imagenesLink" /></a>
        <hr style="background-color: black;height: 1px;margin-left: 65%;width: 50%;border: 0;">
        <a title="Los Tejos" href="www.google.com"><img src="~/Content/Imagenes/Productos.png" alt="Los Tejos" class="imagenesLink" /></a>
    </div>
</body>
</html>