body {
}

.btn {
    flex: 1 1 auto;
    margin: 8px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    width:120px;
    font-size: 13px;
}

.btnpag {
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    font-size: 10px;
    border-radius: 4px;
}
.btnpagder {
    margin-right: 8px;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
    background-position: right center; /* change the direction of the change here */
}
    .btnpag:hover {
        background-position: right center; /* change the direction of the change here */
    }
.degradado {
    background-image: linear-gradient(to right, #010202 0%, #4b4d4b 25%, #010202 66%);
    border: 1px solid;

}
